.container {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titleSection {
  padding: 5rem 0 2rem;
}

.gameContainer {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.screen {
  width: 45%;
}